<!-- Page Heading -->

<div style="position:absolute;right:2rem;width:300px;z-index:1020">
    <div style="width:100%;" id="outputLog">
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Accessi</h1>
</div>
<div class="row align-items-center justify-content-between mb-1 h-100">
    <div class="col-xl-6 col-md-6 mb-1">
        <div class="card border-left-danger shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-primary text-uppercase mb-1 mt-2">
                            Stato Alarme
                        </div>
                        <div class="row align-items-center justify-content-between mb-1 h-50">
                            <div class="col no-gutters align-items-center">
                                <div id="alarmoff">
                                    <a href="#" onclick="page.active.output(this,4,1)" class="btn btn-primary">
                                        <span class="text">OFF</span>
                                    </a>
                                </div>
                                <div id="alarmon" class="d-none">
                                    <a href="#" onclick="page.active.output(this,4,1)" class="btn btn-primary">
                                        <span class="text">Prog 1</span>
                                    </a>
                                    <a href="#" onclick="page.active.output(this,4,2)" class="btn btn-primary">
                                        <span class="text">Prog 2</span>
                                    </a>
                                    <a href="#" onclick="page.active.output(this,4,3)" class="btn btn-primary">
                                        <span class="text">Prog 3</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col no-gutters align-items-center">
                                <div class="matrix">
                                    <div class="led-red"></div>
                                    <div class="led-yellow"></div>
                                    <div class="led-green"></div>
                                    <div class="led-blue"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-1">
        <div class="card border-left-danger shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-primary text-uppercase mb-1 mt-2">
                            Porta
                        </div>
                        <div class="row align-items-center justify-content-between mb-1 h-50">
                            <div class="col">
                                <a href="#" onclick="page.active.output(this,1)" class="btn btn-primary">
                                    <span class="text">Apri</span>
                                </a>
                            </div>
                            <div class="col">
                                <div id="stato-porta">Aperta</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-1">
        <div class="card border-left-danger shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-primary text-uppercase mb-1 mt-2">
                            Cancello casa
                        </div>
                        <div class="mb-1 h-50">
                            <a href="#" onclick="page.active.output(this,2)" class="btn btn-primary">
                                <span class="text">Apri</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-1">
        <div class="card border-left-danger shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-primary text-uppercase mb-1 mt-2">
                            Cancello Box
                        </div>
                        <div class="mb-1 h-50">
                            <a href="#" onclick="page.active.output(this,3)" class="btn btn-primary">
                                <span class="text">Apri</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="broadlink_dash" class="row align-items-center justify-content-between mb-1 h-100 d-none">
    <div class="col-xl-12 col-md-12 mb-1">
        <div class="card border-left-danger shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-primary text-uppercase mb-1 mt-2">
                            Broadlink programmazione
                        </div>
                        <div class="mb-1 h-50">
                            <a href="#" onclick="page.active.output(this,3)" class="btn btn-primary">
                                <span class="text">RF</span>
                            </a>
                            <a href="#" onclick="page.active.output(this,3)" class="btn btn-primary">
                                <span class="text">IR</span>
                            </a>
                        </div>
                        <div id="blink_log" class="mb-1 h-100">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="broadlink_commands" class="row align-items-center justify-content-between mb-1 h-100 d-none">
</div>